<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>NoDynamicExtract</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Method(GPRW,2,N) to XPRW</string>
				</dict>
			</array>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Legacy</key>
		<string>PBR</string>
		<key>CustomLogo</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Arguments</key>
		<string>dart=0</string>
		<key>Timeout</key>
		<integer>3</integer>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Pure</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Ignore</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Volume</key>
					<string>8A15C014-E575-4EB3-A9DC-2F640A8AE416</string>
					<key>FullTitle</key>
					<string>macOS</string>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>NoCaches</key>
					<false/>
				</dict>
				<dict>
					<key>Ignore</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Volume</key>
					<string>D1FC711C-F017-4E7D-8098-05C60E9E3959</string>
					<key>FullTitle</key>
					<string>Win10</string>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>Windows</string>
					<key>Path</key>
					<string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<false/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>2560x1440</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>NAAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AwASWQ==</data>
			</dict>
		</dict>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x3E7</string>
		<key>MLB</key>
		<string>C02733102J9J0PG1H</string>
		<key>ROM</key>
		<data>EHtEUhqN</data>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>SerialNumber</key>
		<string>C02V70USJ1GJ</string>
		<key>SmUUID</key>
		<string>ACEE1165-A708-4553-AC90-7986E72406E8</string>
		<key>Board-ID</key>
		<string>Mac-BE088AF8C5EB4FA2</string>
		<key>ProductName</key>
		<string>iMac18,3</string>
		<key>BoardSerialNumber</key>
		<string>C02733102J9J0PG1H</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
	</dict>
</dict>
</plist>